<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<body>
<video autoplay="autoplay" muted="muted" poster="" id="bgvid">
    <source src="swoliosis2.mp4" type="video/mp4">
</video>
<div class="contain-to-grid sticky">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="#/home">Swoliosis Foundation</a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="divider"></li>
                <li class="active">
                    <a href="#/home">Home</a>
                </li>
                <li class="divider"></li>
                <li><a href="#/donate">Donate</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#/home">Get Involved</a>
                    <ul class="dropdown">
                        <li><a href="#">Get Swoliosis News</a></li>
                        <li><a href="#">Action Center</a></li>
                        <li><a href="#">Lift for Health</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<div class="row">
    <div class="large-12 columns">
        <div id="BigText">
            <h1 id="title">Swoliosis is REAL</h1>
        </div>
    </div>
</div>


<script>
    document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/' +
    ('__proto__' in {} ? 'zepto/1.1.2/zepto' : 'jquery/1.11.0/jquery') +
    '.min.js"><\/script>')
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

<script src="js/luminateExtend.js"></script>
<script src="js/luminateExtend-examples.js"></script>
</body>
</html>


<!--<p>This is the partial for view 1.</p>

<form name="cardExpiryForm" novalidate="">
    <card-expiry-input class="form-control" name="ccExpiry" ng-model="cardExpiry"></card-expiry-input>
</form>
<hr/>
<pre>Expiry: <b>{{cardExpiry || 'undefined'}}</b> - Valid: <i>{{!cardExpiryForm.$invalid}}</i></pre>

<form name="cardForm" novalidate="">
    <card-number-input class="form-control" name="ccNumber" ng-model="cardNumber" card-type="cardType"></card-number-input>
</form>
<hr/>
<pre>Card Type: <b>{{cardType || 'unknown'}}</b> - Valid: <i>{{!cardForm.$invalid}}</i></pre>

<form name="cardCvcForm" novalidate="">
    <card-cvc-input class="form-control" name="ccCvc" ng-model="cardCvc"></card-cvc-input>
</form>
<hr/>
<pre>Valid: <i>{{!cardCvcForm.$invalid}}</i></pre>-->
