<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<body>
<div class="contain-to-grid sticky">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#/home">Swoliosis Foundation</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li class="active">
          <a href="#/index">Home</a>
        </li>
        <li class="divider"></li>
        <li><a href="#/donate">Donate</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Get Involved</a>
          <ul class="dropdown">
            <li><a href="sign-up.html">Get Swoliosis News</a></li>
            <li><a href="action-center.html">Action Center</a></li>
            <li><a href="walk-for-health.html">Lift for Health</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
<div class="row">
  <div class="large-12 columns">
    <h1>Sponsor a bro.</h1>
    <hr>
    <p>You can be a part of the solution &ndash; make a donation to help fund important research. We can't do it without you.</p>
    <form class="custom luminateApi donation-form">
      <input type="hidden" name="method" ng-model="method">
      <input type="hidden" name="form_id" ng-model="formId">
      <input type="hidden" name="validate" ng-model="validate">
      <input type="hidden" name="tokenID" ng-model="tokenID"> <!-- set this in the callback -->
      <div class="panel donation-panel radius">
        <h2>Donation Information</h2>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right">Donation amount:</label>
          </div>
          <div class="small-12 large-9 columns">
            <div class="radio-wrap">
              <label>
                <input type="radio" name="level_id" value="13162"> $100
              </label>
            </div>
            <div class="radio-wrap">
              <label>
                <input type="radio" name="level_id" value="13164"> $50
              </label>
            </div>
            <div class="radio-wrap">
              <label>
                <input type="radio" name="level_id" value="13161"> $10
              </label>
            </div>
            <div class="radio-wrap">
              <label>
                <input type="radio" id="level-other" name="level_id" value="13163"> Other amount:
              </label>
            </div>
            <div class="small-10 large-6">
              <div class="row collapse">
                <div class="small-2 columns">
                  <span class="prefix">$</span>
                </div>
                <div class="small-10 columns">
                  <input type="text" id="other-amount" name="other_amount" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel donation-panel">
        <h2>Billing Information</h2>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">First Name:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="billing.name.first" ng-model="first">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">Last Name:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="billing.name.last" ng-model="last">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">Street 1:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="billing.address.street1" ng-model="street1">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">Street 2:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="billing.address.street2">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">City:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="billing.address.city" ng-model="city">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">State:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <select name="billing.address.state" ng-model="state">
              <option>State</option>
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
              <option value="AS">AS</option>
              <option value="FM">FM</option>
              <option value="GU">GU</option>
              <option value="MH">MH</option>
              <option value="MP">MP</option>
              <option value="PR">PR</option>
              <option value="PW">PW</option>
              <option value="VI">VI</option>
              <option value="AA">AA</option>
              <option value="AE">AE</option>
              <option value="AP">AP</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
              <option value="None">None</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">ZIP Code:</label>
          </div>
          <div class="small-12 large-3 pull-6 columns">
            <input type="text" name="billing.address.zip" ng-model="zip">
          </div>
        </div>
      </div>

      <div class="panel donation-panel">
        <h2>Email</h2>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">Email Address:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <input type="text" name="donor.email" ng-model="email">
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-8 large-offset-3 columns">
            <div class="checkbox-wrap">
              <label>
                <input type="checkbox" name="donor.email_opt_in" value="true" checked> Yes, I'd like to receive email from the Swoliosis Foundation
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel donation-panel">
        <h2>Payment Information</h2>
        <div class="row">

          <div class="small-12 large-3 columns">
            <label class="right inline">Card Number:</label>
          </div>
          <div class="small-12 large-8 pull-1 columns">
            <card-number-input class="form-control" ng-model="cardNumber" card-type="cardType" data-stripe="number"></card-number-input>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">CVV:</label>
          </div>
          <div class="small-12 large-2 pull-7 columns">
            <card-cvc-input class="form-control" ng-model="cardCvc" data-stripe="cvc"></card-cvc-input>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns">
            <label class="right inline">Expiration Date:</label>
          </div>
          <div class="small-12 large-2 pull-7 columns">
            <card-expiry-input class="form-control" ng-model="cardExpiry" data-stripe="exp-month"></card-expiry-input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <button type="button" class="button small" id="donate-submit">Complete Donation</button>
        </div>
      </div>
    </form>
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; The Swoliosis Foundation 2015</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/' +
  ('__proto__' in {} ? 'zepto/1.1.2/zepto' : 'jquery/1.11.0/jquery') +
  '.min.js"><\/script>')
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

<script src="js/luminateExtend.js"></script>
<script src="js/luminateExtend-examples.js"></script>
</body>
</html>


<!--<p>This is the partial for view 1.</p>

<form name="cardExpiryForm" novalidate="">
    <card-expiry-input class="form-control" name="ccExpiry" ng-model="cardExpiry"></card-expiry-input>
</form>
<hr/>
<pre>Expiry: <b>{{cardExpiry || 'undefined'}}</b> - Valid: <i>{{!cardExpiryForm.$invalid}}</i></pre>

<form name="cardForm" novalidate="">
    <card-number-input class="form-control" name="ccNumber" ng-model="cardNumber" card-type="cardType"></card-number-input>
</form>
<hr/>
<pre>Card Type: <b>{{cardType || 'unknown'}}</b> - Valid: <i>{{!cardForm.$invalid}}</i></pre>

<form name="cardCvcForm" novalidate="">
    <card-cvc-input class="form-control" name="ccCvc" ng-model="cardCvc"></card-cvc-input>
</form>
<hr/>
<pre>Valid: <i>{{!cardCvcForm.$invalid}}</i></pre>-->
